<% provide(:home, "Home") %>
<!DOCTYPE html>
<html>
  <title><%= yield(:home) %> | Ruby on Rails Tutorial Sample App</title>
  <h1>StaticPages#<%= yield(:home) %></h1>
  <p >Find me in app/views/static_pages/home.html.erb</p>
</html>